* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.field {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 1%;
    margin: 10px auto;
}

.field * {
    position: absolute;
}

.ball {
    background-color: green;
    border: 1px solid black;
    border-radius: 50%;
}
.player {
    border: 1px solid black;
    border-radius: 50%;
}

.team_red {
    background-color: red;
}

.team_blue {
    background-color: blue;
}
.rect {
    background-color: black;
}